.container-1, .container-2 {
    border: 1px solid black;
    margin: 50px ;
}

.container-1 h2, .container-2 h2 {
    text-align: center;
}

.flex-box-container-1, .flex-box-change-color {
    border: 1px solid black;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    padding: 10px;
}